h1 {
    color: dimgrey;
}
h2 {
    color: dimgrey;
}
p {
    padding: 15px;
    color: slategrey;
}
img {
    float: right;
    padding: 15px
}
body {
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(237, 242, 249);
    font-size: 120%;
}
#history {
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgb(215, 221, 229);
}
#rules {
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgb(215, 221, 229);
}
#variations {
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgb(215, 221, 229);
}